@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-sm-6">
        <h1>Details</h1>

        <div>
            <h4>Movie</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rating)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    @if (@Model != null && @Model.ImageName != null)
    {
    <div class="col-sm-6">
        <h4>Movie Image</h4>
        <hr />
        <img src="~/images/@Model.ImageName" alt="Movie Image" class="img-fluid rounded-1 shadow-lg border-dark border-5" style="max-height:300px" />
    </div>
    }
</div>